# 1行目は禁止



#本家のファイル名がミスってるので代わりに登録
# fields
protected net.minecraft.client.resources.Locale field_135032_a                          # properties
# methods
protected net.minecraft.client.resources.Locale func_135028_a(Ljava/util/List;)V        # loadLocaleData(Ljava/util/List;)V
protected net.minecraft.client.resources.Locale func_135024_b()V                        # checkUnicode()V
